
@font-face {
    font-family: 'Cantique';
    src: url('./src/type/Cantique-Normal.woff2') format('woff2'),
         url('./src/type/Cantique-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Basteleur';
    src: url('./src/type/Basteleur-Moonlight.woff2') format('woff2'),
         url('./src/type/Basteleur-Moonlight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BasteleurBold';
    src: url('./src/type/Basteleur-Bold.woff2') format('woff2'),
         url('./src/type/Basteleur-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

body {
	margin: 0;
	font-family: 'Basteleur', sans-serif;
	font-size: 1.6rem;
    background: black;
    color: white;
}

h1, h2 {
    font-family: 'Cantique', 'Times New Roman', Times, serif;
}

p {
    font-size: .8em;
}

a {
    color: white;
    text-decoration: none;
    transition: opacity .4s ease;
}

a:hover {
    color: white;
    opacity: .6;
}

a:visited {
    color: white;
}

#title-txt {
    font-size: 1.2em;
}
   


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #ffffff #000000;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: #000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 3px;
    border: 3px none #ffffff;
  }