body {
    overflow-x: hidden;
}

.title {
    position: fixed;
    padding: 2em;
    font-size: .5em;
    z-index: 100;
}

small {
    text-transform: uppercase;
    letter-spacing: .04em;
    margin: 0;
}

#title-txt {
    margin: 0;
}

.dream-stuff {
    width: 100vw;
    background-color: pink;
    height: 10000px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.dream-stuff > p {
    bottom: 1em;
}


.whisper {
    display: none;
}

#w1 {
    display: block;
}

#w6, #w1, #w3, #w5 {
    width: 100%;
    text-align: center;
}

#w2 {
    margin-top: 15vh;
    margin-left: 1em;
}

#w4 {
    width: 100%;
    margin-top: 80vh;
    text-align: right;
    margin-right: 1em;
}

#w7 {
    display: block !important;
    color: black;
    margin: 2em;
}

/* WINDOW PANES */
.window {
    background-color: black;
    position: fixed;
    z-index: 2;
    transition: 1s;
    display: flex;
    flex-wrap: wrap;
}

.topbottom {
    width: 100vw;
}

#top {
    height: 10vw;
}
#bottom {
    bottom: 0%;
    height: 15vw;
}

.leftright {
    height: 100vh;
}
#left {
    width: 30vw;
}
#right {
   right: 0%;
   width: 30vw;
}

.memory {
    position: fixed;
}

.flashbulb {
    position: absolute;
}

#img1, #img2, #img3 {
    top: 0;
    width: 100vw;
    opacity: 1;
    transition: 1s;
}

.forget {
    opacity: 0 !important;
}


/* DEBUG */
/* .window {
    opacity: .4;
} */