@font-face {
    font-family: 'Cantique';
    src: url('./src/type/Cantique-Normal.woff2') format('woff2'),
         url('./src/type/Cantique-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Basteleur';
    src: url('./src/type/Basteleur-Moonlight.woff2') format('woff2'),
         url('./src/type/Basteleur-Moonlight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BasteleurBold';
    src: url('./src/type/Basteleur-Bold.woff2') format('woff2'),
         url('./src/type/Basteleur-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* { box-sizing: border-box; }

body {
	margin: 0;
	font-family: 'Basteleur', sans-serif;
	font-size: 1.6rem;
    background: black;
    color: white;
}

h1, h2 {
    font-family: 'Cantique', 'Times New Roman', Times, serif;
    /* writing-mode: vertical-lr;
    text-orientation: sideways; */
}

h1 {
    padding: 1.5em;
    padding-bottom: 0em;
    font-size: 4rem;
    z-index: 200;
}

h2 {
    font-size: 1.6rem;
    margin: 0em;
}

#title {
    position: absolute;
    z-index: 200;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

#open {
    height: 100vh;
    width: 100vw;
    filter: blur(1px) contrast(200%) opacity(8);
    position: sticky;
    z-index: 100;
    /* background-color: black; */
}

#r-title {
    font-family: 'BasteleurBold', sans-serif;
    text-transform: uppercase;
}

#runner {
    padding: 2em;
    font-size: .5em;
    width: 100vw;
    top: 1px;
    text-align: right;
    position: sticky;
    z-index: 2;
    line-height: 1.5em;
}

p {
    color: white;
    max-width: 400px;
    line-height: 1.5em;
}

.scroll-bound {
	height: 500vh;
}

.content {
    height: 100vh;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* video {
    width: 80%;
<<<<<<< Updated upstream
    mix-blend-mode: luminosity;
    filter: contrast(1.25);
    /* filter: contrast(200%); */
}

#bound-two {
    /* mix-blend-mode: luminosity; */
    /* filter: contrast(1.25); */
}
=======
} */

#v0 {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
  }
>>>>>>> Stashed changes
