@font-face {
    font-family: 'Cantique';
    src: url('./src/type/Cantique-Normal.woff2') format('woff2'),
         url('./src/type/Cantique-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Basteleur';
    src: url('./src/type/Basteleur-Moonlight.woff2') format('woff2'),
         url('./src/type/Basteleur-Moonlight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BasteleurBold';
    src: url('./src/type/Basteleur-Bold.woff2') format('woff2'),
         url('./src/type/Basteleur-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* { box-sizing: border-box; }

body {
	margin: 0;
	font-family: 'Basteleur', sans-serif;
	font-size: 1.6rem;
    background: black;
    color: white;
}

h1, h2 {
    font-family: 'Cantique', 'Times New Roman', Times, serif;
    /* writing-mode: vertical-lr;
    text-orientation: sideways; */
    font-size: 2rem;
}

h1 {
    padding-top: 2em;
    position: absolute;
}

h2 {
    font-size: 1.6rem;
    padding-top: 22em;
    padding-left: 3rem;
}

#title {
    position: absolute;
    z-index: 10;
    writing-mode: vertical-lr;
    text-orientation: sideways;
}

#r-title {
    font-family: 'BasteleurBold', sans-serif;
    text-transform: uppercase;
}
#runner {
    padding: 2em;
    font-size: .6em;
    width: 100vw;
    text-align: right;

    position: fixed;
    z-index: 100;
}

p {
    color: white;
}

.scroll-bound {
	height: 500vh;
}

.content {
    height: 100vh;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

video {
    width: 80%;
    filter: contrast(200%);
}